/**
 * Brush text scroll
 */

.e-brush-text-scroll {
    &__wrapper {
        background-color: #290847;
        color: #3a1260;
        padding-top: 25vh;
        padding-bottom: 70vh;
    }

    &__text {
        position: relative;
    }

    &__text-line {
        font-family: "Migra", serif;
        font-style: normal;
        font-weight: 400;
        font-size: 6.8vw;
        line-height: 110%;
        letter-spacing: -0.03em;
        position: relative;
        overflow: hidden;
        display: inline-block;

        &--clone {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: #d32f25;
            z-index: 1;

            .lineParent {
                overflow: hidden;
            }
        }
    }
}
