/**
 * Mouse Driven Vertical Carousel
 */
.e-mouse-driven-vertical-carousel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    width: 100%;
    color: $white;
    font-family: "PP Editorial New", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 100%;

    .c-header {
        display: block;
        width: 100%;
    }

    a {
        text-decoration: none;
        font-size: 8px;

        p {
            line-height: 0.75;

            &:nth-of-type(1) {
                font-size: 55px;
            }

            &:nth-of-type(2) {
                align-self: flex-end;
                position: relative;
                top: -0.6em;
            }
        }

        span {
            font-size: 8px;
            margin-top: -0.7em;
        }
    }

    .c-mouse-vertical-carousel {
        position: relative;
        overflow: hidden;
        min-height: 100vh;

        &__list {
            width: 100%;
            position: absolute;
            left: 0;
            top: 50%;
            z-index: 1;
        }

        &__list-item {
            a {
                display: flex;
                padding-bottom: 4vw;
                padding-top: 4vw;
                padding-left: percentage(14/24);
            }
        }

        &__eyebrow {
            position: relative;
            flex: 1 0 auto;

            span {
                position: absolute;
                left: -2vw;
                top: 0;
            }
        }

        &__title {
            width: 100%;
            padding-left: 10px;
        }

        &__bg-img {
            position: absolute;
            top: 50%;
            left: 50%;
            height: auto;
            transform: translate(-50%, -50%);
            background-size: cover;
            background-position: center;
            will-change: transform;

            &:nth-of-type(1) {
                width: 90%;
            }

            &:nth-of-type(2) {
                width: 80%;
            }

            &:nth-of-type(3) {
                width: 85%;
            }

            &:nth-of-type(4) {
                width: 95%;
            }

            &:nth-of-type(5) {
                width: 91%;
            }

            &:nth-of-type(6) {
                width: 84%;
            }

            &:nth-of-type(7) {
                width: 90%;
            }

            &:nth-of-type(8) {
                width: 78%;
            }

            &:nth-of-type(9) {
                width: 88%;
            }

            &:nth-of-type(10) {
                width: 90%;
            }

            &:nth-of-type(11) {
                width: 84%;
            }
        }
    }

    &__img-wrapper {
        position: absolute;
        top: 0;
        height: 100%;
        left: 0;
        width: percentage(14/24);
    }
}
