.o-container {
    width: 100%;
    margin: 0 auto;
    padding-left: percentage(2/24);
    padding-right: percentage(2/24);

    &--wide {
        padding-left: 20px;
        padding-right: 20px;
    }
}
